<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- http://nb.nathanamy.org/2012/07/schedule-jobs-using-launchd/ -->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>au.id.brenecki.adam.personal.editr-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/editr-server</string>
		<string>--editor</string>
		<string>/usr/local/bin/mvim -f</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/sbin:/usr/X11R6/bin</string>
	</dict>
</dict>
</plist>
